PUBLIC_APP_NAME=Pantau

# Credential Login
APP_PASSWORD=admin
SESSION_SECRET=super_secret_key

# Server Settings
PORT=3000
HOST=0.0.0.0

# Database
# Dev  : DATABASE_URL=local.db
# Prod : DATABASE_URL=/data/monitor.db
DATABASE_URL=local.db