PUBLIC_APP_NAME=Pantau

# Credential Login
APP_PASSWORD=admin
SESSION_SECRET=super_secret_key

# Server Settings
PORT=3000
HOST=0.0.0.0

# URL yang akan dipantau beserta intervalnya dalam menit
URL_INTERVAL=[domain.com,0.5],[domain.my.id,5],[sub.domain.com,60]